In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# KFold (교차 검증을 사용하기 위해)
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 교차검증 함수
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

# 데이터 전처리
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 하이퍼 파라미터 튜닝
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

# 평가 함수
from sklearn.metrics import accuracy_score

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRFRegressor

# 그래프 설정
plt.rcParams['font.family'] = 'Malgun Gothic'   # 윈도우용
# plt.rcParams['font.family'] = 'AppleGothic'   # 맥용
plt.rcParams['font.size'] = 12                  # 폰트 크기
plt.rcParams['figure.figsize'] = 10,8          # 그래프 크기
plt.rcParams['axes.unicode_minus'] = False     # - 기호 깨짐 방지


# 경고 메시지가 안나오게 
import warnings
warnings.filterwarnings('ignore')

평균임금빼고 전부 결측치는 모름/무응답으로 
대체

평균임금을 결과 데이터로
평균임금의 결측치가 아닌 사람의 데이터를 예측해서 ..? 에?

### 데이터 불러오기

In [2]:
df = pd.read_csv('df_all.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)
df

       성별  출생년도  혼인상태  종교유무     직종   평균임금  지역
0       2  1936     2     2    NaN    NaN   1
1       2  1945     2     2    NaN    NaN   1
2       1  1948     2     2    NaN    NaN   1
3       1  1942     3     1  762.0  108.9   1
4       2  1923     2     1    NaN    NaN   1
...    ..   ...   ...   ...    ...    ...  ..
15417   2  1967     1     1  952.0    NaN   5
15418   2  1992     5     1    NaN    NaN   5
15419   1  1995     5     1  521.0   72.0   5
15420   2  1998     5     1  432.0    NaN   5
15421   1  2001     0     1    NaN    NaN   5

[15422 rows x 7 columns]

### 결측치 확인

In [3]:
df.isna().sum()

성별          0
출생년도        0
혼인상태        0
종교유무        0
직종       8291
평균임금    10915
지역          0
dtype: int64

In [4]:
# 직종 결측치 9999(모름/무응답)로 채우기
df['직종'].fillna(9999,inplace=True)

### 학습할 데이터 전처리
- 1. 평균임금이 Nan인 데이터 제거후 학습
- 2. 모두 포함하여 학습 (Nan값이 존재하여 학습이 안됨)

#### 1. 평균임금이 Nan인 데이터 제거후 학습

In [5]:
df_1 = df.copy()
df_1.head()

   성별  출생년도  혼인상태  종교유무      직종   평균임금  지역
0   2  1936     2     2  9999.0    NaN   1
1   2  1945     2     2  9999.0    NaN   1
2   1  1948     2     2  9999.0    NaN   1
3   1  1942     3     1   762.0  108.9   1
4   2  1923     2     1  9999.0    NaN   1

In [6]:
df_1.dropna(inplace=True)

In [7]:
x_data = df_1.drop('평균임금', axis=1)
y_data = df_1['평균임금']

In [8]:
# 데이터 나누기
x_train, x_test, y_train, y_test=train_test_split(x_data, y_data, test_size=0.2, random_state=1)

In [9]:
fold1=KFold(n_splits=10, shuffle=True, random_state=1)

#### KNN

In [10]:
params ={
    'n_neighbors' : [1,2,3,4,5,6,7,8,9,10]
}

model1 = KNeighborsRegressor()
grid1 = GridSearchCV(model1, param_grid=params, scoring='r2', cv=fold1)
grid1.fit(x_train,y_train)
print(f'최적의 하이퍼 파라미터 : {grid1.best_params_}')
print(f'최적의 모델 평균 성능 : {grid1.best_score_}') # 정확도는 아님 (1에 가까울수록 좋음)

최적의 하이퍼 파라미터 : {'n_neighbors': 8}
최적의 모델 평균 성능 : 0.4171210594783825

In [11]:
best1 = grid1.best_estimator_

In [12]:
print(best1)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                    weights='uniform')

In [13]:
# 교차 검증
r1 = cross_val_score(best1, x_train,y_train, scoring='r2', cv=fold1)
print(r1.mean())

0.4171210594783825

In [14]:
# 모델에 학습
best1.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                    weights='uniform')

In [15]:
pred1 = best1.predict(x_test)
pred1

array([ 40.75   , 109.475  , 345.5    , 132.0125 , 559.725  , 333.25   ,
       354.4125 , 417.25   , 357.9625 , 305.     , 420.     ,  73.75   ,
       183.5    , 269.5    , 102.375  , 490.875  , 134.75   ,  82.375  ,
       330.     , 264.375  , 173.375  , 238.375  , 135.375  , 441.25   ,
       216.5    , 129.875  , 143.25   , 345.5    , 528.7    , 457.125  ,
       175.0875 , 223.25   , 189.875  ,  94.625  , 162.125  , 119.35   ,
       139.875  , 448.125  , 123.25   , 372.125  , 168.25   , 409.125  ,
       109.475  , 393.     , 177.25   , 183.     , 151.85   , 267.125  ,
       322.25   ,  21.25   , 459.75   , 444.875  , 416.0875 , 449.875  ,
       546.7875 , 171.875  , 371.     , 523.6625 , 136.6875 , 128.3    ,
       152.     ,  71.     , 482.975  ,  93.125  , 165.     , 285.875  ,
       408.4125 ,  82.25   , 244.575  , 354.25   , 162.125  , 446.25   ,
       403.625  , 304.875  , 113.625  , 316.2875 , 196.4125 , 491.375  ,
       154.75   , 223.45   , 158.125  , 561.1375 , 297.875  , 151.375  ,
       144.675  , 199.875  , 351.875  ,  79.125  , 139.3125 , 158.375  ,
        67.25   , 146.625  , 256.     , 478.1    , 108.375  , 115.125  ,
       233.875  , 210.125  , 367.3125 , 151.25   , 195.25   , 157.4375 ,
       234.125  , 188.25   ,  20.     , 353.     , 154.625  , 215.     ,
       121.     , 168.125  , 156.375  , 128.75   ,  60.125  , 257.875  ,
       225.4125 , 191.     , 476.75   , 262.375  , 175.9375 , 251.125  ,
       290.625  , 233.625  , 174.125  , 192.5    ,  71.625  , 131.75   ,
       208.25   , 469.5    , 173.     , 170.5    , 373.     , 228.875  ,
       299.625  , 448.125  , 231.5    , 192.75   , 207.25   , 395.9625 ,
       175.375  , 147.75   , 176.3025 , 130.375  , 532.625  , 425.25   ,
       231.5    , 135.25   , 118.     , 273.875  , 468.5    , 115.75   ,
       156.25   , 117.875  , 379.475  , 442.59625, 198.625  , 157.5    ,
       321.125  , 472.225  , 215.25   ,  22.5    , 557.75   , 292.525  ,
        39.625  , 177.5    , 235.5    , 492.375  , 154.125  , 375.125  ,
       247.5    , 226.75   , 204.875  , 351.875  , 140.125  , 581.9375 ,
        20.625  , 449.875  , 238.125  , 455.34625, 155.375  , 364.625  ,
       733.25   , 495.6625 , 143.25   , 325.125  , 197.125  , 230.125  ,
       221.1625 , 184.125  , 218.     , 118.875  , 404.4    , 133.25   ,
       409.5    , 137.625  , 223.45   , 244.5    , 225.125  , 178.625  ,
       308.5375 , 328.9125 , 420.     , 155.375  , 268.625  , 566.25   ,
       184.875  , 494.7875 , 524.375  , 546.875  , 271.125  , 199.5    ,
       284.5    , 331.25   , 381.8375 ,  76.375  , 238.75   , 350.25   ,
        20.     , 327.875  , 152.75   , 289.375  ,  64.     , 163.625  ,
        51.625  , 240.125  , 181.875  , 180.625  , 173.     , 385.625  ,
       185.125  , 164.625  , 387.     , 168.5    , 559.725  , 291.25   ,
       295.35   , 396.5    , 204.25   , 245.     , 210.125  , 381.25   ,
       204.9375 ,  82.     , 382.875  , 304.125  , 375.75   , 150.75   ,
       430.625  , 300.75   , 221.3875 , 192.0375 , 192.75   , 121.625  ,
       295.375  , 299.125  , 112.75   ,  79.375  , 243.125  , 267.375  ,
       413.125  , 400.7125 , 448.125  , 173.375  , 468.5    , 145.25   ,
        77.25   , 412.375  , 546.875  , 236.625  , 292.25   , 275.25   ,
       451.625  , 196.875  , 139.375  , 274.5    , 390.0375 , 162.875  ,
       224.75   , 430.5    , 118.625  , 159.675  , 148.25   , 231.0375 ,
       379.25   , 203.125  , 209.5    ,  51.25   , 149.125  , 113.25   ,
       140.125  , 432.5    , 463.25   , 131.25   , 125.     , 168.625  ,
       409.     , 148.125  , 160.75   , 273.375  , 628.25   , 276.125  ,
       156.125  , 148.0375 , 300.625  , 636.     , 209.875  , 329.6625 ,
       272.125  , 139.25   , 318.625  , 244.5    , 330.75   ,  62.5    ,
       285.5    , 159.5625 , 209.     , 253.875  , 269.625  , 335.75   ,
       160.75   , 223.2875 , 559.25   , 124.     , 671.25   , 291.875  ,
       262.75   , 163.375  , 390.4875 , 360.     , 102.375  , 175.0875 ,
       194.375  , 425.2875 , 167.     , 355.25   , 458.25   , 230.75   ,
       546.125  , 244.5    , 205.125  , 206.375  , 145.75   ,  20.     ,
       278.5    , 148.375  , 209.25   , 203.125  , 354.5875 ,  91.375  ,
       182.125  , 366.5    , 199.625  , 105.5    , 579.25   , 349.     ,
       308.225  , 360.9375 , 321.5    , 178.75   , 244.75   , 542.5    ,
       231.5    ,  87.375  , 413.2875 , 160.875  , 181.75   , 438.375  ,
       623.25   , 126.125  , 235.625  , 217.95   , 549.1    , 210.5125 ,
       159.6875 , 263.875  , 275.625  ,  96.75   , 165.125  , 211.25   ,
       490.625  , 175.325  , 390.0375 , 233.125  , 327.5    , 335.     ,
       270.25   , 503.875  , 168.25   ,  20.     , 525.875  , 242.625  ,
       547.625  , 372.625  ,  37.625  , 113.75   , 136.375  , 197.9375 ,
       130.5    ,  81.     , 559.875  , 291.     , 155.875  , 116.225  ,
       149.125  , 211.875  , 614.875  , 316.2875 ,  56.75   ,  19.     ,
       176.75   ,  20.     , 208.9375 , 588.625  , 165.875  , 199.125  ,
       139.625  , 137.75   , 183.     , 426.875  , 447.625  , 219.875  ,
       307.5    , 199.625  , 281.25   , 206.125  , 282.     , 246.875  ,
       305.5    , 140.75   , 701.5    ,  33.75   , 215.     , 531.875  ,
       335.2125 , 157.625  , 319.375  ,  60.75   , 132.625  , 294.375  ,
        20.     , 219.     , 307.625  , 251.5125 , 430.1875 , 414.3375 ,
       255.125  , 168.     , 228.     , 347.975  ,  80.75   , 191.125  ,
       326.5    , 491.25   , 330.     , 475.575  , 291.     , 148.875  ,
       458.375  , 150.625  , 102.25   , 624.     , 258.875  ,  98.125  ,
        49.625  , 223.45   , 353.5    , 320.875  , 136.6    , 204.875  ,
       290.625  , 108.75   , 256.25   , 334.125  , 573.5    , 114.75   ,
       154.625  , 156.875  , 435.75   , 114.55   ,  20.     , 315.25   ,
       181.1625 ,  60.875  , 615.875  , 430.125  , 241.875  , 282.6875 ,
       268.625  , 209.5    , 350.75   , 229.625  , 298.5    ,  90.875  ,
       147.125  , 302.125  , 286.275  , 308.225  , 240.625  , 410.625  ,
       120.625  , 171.125  , 183.5    , 691.     , 258.875  , 219.7875 ,
       128.625  , 293.25   , 139.75   , 168.875  , 379.375  , 234.5    ,
        97.125  ,  96.125  , 255.75   , 329.125  , 122.8875 , 409.625  ,
       212.9125 , 585.125  , 196.5    , 266.25   , 331.5375 , 579.     ,
       214.25   , 301.0375 , 172.625  ,  22.     , 335.375  , 143.75   ,
       274.125  ,  31.875  , 237.375  , 109.625  , 140.5    , 257.     ,
       240.175  , 178.5    , 266.25   , 186.125  , 477.75   ,  74.0375 ,
       187.9125 , 235.75   , 131.0375 , 492.25   , 688.25   , 201.25   ,
       262.     ,  96.375  , 227.625  , 342.375  , 234.875  , 290.125  ,
       283.625  , 481.47125, 313.85   , 235.75   , 173.5    , 138.     ,
       167.375  , 224.25   , 210.     , 211.25   , 241.875  , 230.75   ,
       416.9125 , 153.125  , 366.775  ,  99.875  , 126.     ,  84.625  ,
       235.75   ,  44.25   , 370.375  , 174.5    , 307.5625 , 281.75   ,
       374.875  , 333.375  , 203.375  , 379.475  , 140.75   , 197.1    ,
       258.875  , 186.875  , 223.45   , 249.75   , 358.625  , 290.8375 ,
       560.375  ,  21.25   ,  26.375  , 418.875  , 172.0875 , 177.5    ,
       141.125  , 210.625  , 242.875  , 617.075  , 240.875  , 268.875  ,
        85.125  , 110.5    , 159.75   , 143.75   , 288.125  , 165.25   ,
       173.375  , 213.75   , 306.5    , 294.25   , 399.125  , 265.     ,
       306.25   , 145.4125 , 257.075  , 255.75   , 238.5    ,  78.5    ,
       108.125  , 455.875  ,  54.125  , 173.08375, 277.125  , 112.25   ,
       289.625  , 124.125  , 189.375  , 390.4875 ,  44.125  , 132.3125 ,
       162.125  , 115.25   , 193.     , 188.375  , 335.75   , 221.     ,
       468.125  , 230.375  , 192.875  , 170.5    , 313.25   , 579.875  ,
       223.25   , 282.     , 221.1625 , 184.625  , 259.125  , 110.875  ,
       248.25   , 420.6625 , 159.6875 , 230.5    , 426.75   , 155.375  ,
       158.375  , 204.75   , 367.125  , 515.     , 321.5    , 195.     ,
       465.2    , 448.125  , 282.875  ,  22.     , 302.9125 ,  90.875  ,
       419.875  , 324.     , 436.125  , 336.8375 , 379.25   , 379.475  ,
       264.25   , 320.625  , 207.875  , 361.125  ,  87.375  , 207.     ,
       109.85   , 525.5    , 433.375  , 280.375  , 160.6875 , 307.5625 ,
       193.125  , 228.875  , 509.9125 , 229.75   , 410.3375 , 476.375  ,
       261.875  , 473.5    , 142.625  , 424.25   , 233.5    , 144.375  ,
       162.25   ,  20.     , 299.5    , 459.625  , 164.25   , 132.875  ,
       100.375  , 189.25   , 302.875  , 555.25   , 113.875  ,  43.     ,
       251.875  , 496.875  ,  21.25   , 204.     , 583.5    , 205.75   ,
        88.     , 144.125  , 199.25   , 285.5    , 123.75   , 177.75   ,
       114.5    , 481.     , 339.625  , 233.7    , 187.625  ,  67.25   ,
       209.75   , 196.8    , 444.875  , 592.875  , 167.375  , 351.8    ,
       522.75   , 257.625  , 150.875  , 275.875  , 100.375  , 139.875  ,
       142.4375 , 215.     , 366.775  , 344.625  , 182.75   , 231.5    ,
       212.25   , 558.375  , 130.5    , 244.5    , 130.0375 ,  44.625  ,
       421.25   , 138.25   , 345.375  , 287.775  , 644.     , 237.1375 ,
       191.7    , 364.15   , 240.75   , 100.475  , 444.1375 , 347.975  ,
       225.125  , 134.25   , 166.375  , 288.9125 , 259.25   , 419.4375 ,
       288.125  ,  97.125  , 170.125  , 467.25   , 125.875  , 154.875  ,
       293.125  , 328.25   , 121.625  ,  62.625  , 160.975  , 198.     ,
       347.975  , 459.0625 , 223.625  , 194.5    , 521.125  , 190.9275 ,
       378.375  , 544.475  , 200.125  , 397.75   , 142.5    , 244.25   ,
       213.5    , 237.1375 , 184.5    , 138.     , 184.875  , 167.375  ,
       137.75   , 394.5    , 236.5    , 581.625  , 165.6375 , 266.125  ,
       289.025  , 180.75   , 201.625  , 139.825  , 219.5    , 158.     ,
       209.875  , 361.375  , 369.1    , 198.     , 202.375  , 157.75   ,
       237.25   , 196.8    , 601.75   , 395.75   , 271.125  , 186.0375 ,
       189.     , 417.     , 360.75   , 342.125  , 212.475  , 164.125  ,
       458.5    , 245.7    , 218.5    , 404.875  , 304.75   , 515.     ,
       230.125  , 126.625  , 470.125  , 305.5    , 142.     , 275.375  ,
       206.625  , 131.375  , 169.25   , 202.625  , 139.625  , 114.125  ,
       373.25   , 559.75   , 240.875  , 187.125  , 356.125  , 346.275  ,
       201.25   , 395.75   , 245.     , 283.5    , 321.5    , 259.125  ,
       284.5    , 144.375  , 418.875  , 272.125  , 123.5    , 166.     ,
       586.4625 , 172.125  ,  88.     , 185.5    , 149.25   , 126.125  ,
       125.75   , 186.625  , 167.375  , 624.75   , 260.625  , 274.125  ,
       128.5125 , 317.125  , 539.5    , 182.5    ,  20.     , 148.5    ,
       195.8125 , 200.     , 142.375  , 550.75   , 246.     , 189.     ,
       234.4125 , 613.325  , 697.25   , 201.     , 185.75   , 140.25   ,
       353.875  ,  78.625  , 300.75   , 505.5    , 149.75   , 326.625  ,
       392.075  , 527.75   ])

In [16]:
best1.score(x_test,y_test)

0.394348751993219

#### Ridge

In [17]:
# Ridge

params = {
    # 값이 낮으면 규제가 약해지고 값이 크면 규제가 강해진다
    'alpha' : [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 1000]
}

model2 = Ridge()
grid2 = GridSearchCV(model2, param_grid=params, scoring='r2', cv=fold1)
grid2.fit(x_train,y_train)
print(f'최적의 하이퍼 파라미터 : {grid2.best_params_}')
print(f'최적의 모델 평균 성능 : {grid2.best_score_}')

최적의 하이퍼 파라미터 : {'alpha': 10}
최적의 모델 평균 성능 : 0.34274900818111886

#### Lasso

In [18]:
# Lasso

params = {
    # 값이 낮으면 규제가 약해지고 값이 크면 규제가 강해진다
    'alpha' : [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 1000]
}

model3 = Lasso()
grid3 = GridSearchCV(model3, param_grid=params, scoring='r2', cv=fold1)
grid3.fit(x_train,y_train)
print(f'최적의 하이퍼 파라미터 : {grid3.best_params_}')
print(f'최적의 모델 평균 성능 : {grid3.best_score_}')

최적의 하이퍼 파라미터 : {'alpha': 0.1}
최적의 모델 평균 성능 : 0.3427281444534969

#### ElasticNet

In [19]:
# ElasticNet

params = {
    # 값이 낮으면 규제가 약해지고 값이 크면 규제가 강해진다
    'alpha' : [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 1000]
}

model4 = ElasticNet()
grid4 = GridSearchCV(model4, param_grid=params, scoring='r2', cv=fold1)
grid4.fit(x_train,y_train)
print(f'최적의 하이퍼 파라미터 : {grid4.best_params_}')
print(f'최적의 모델 평균 성능 : {grid4.best_score_}')

최적의 하이퍼 파라미터 : {'alpha': 0.01}
최적의 모델 평균 성능 : 0.3427401670839959

### KNN 모델 선정 값 예측하기

In [37]:
x_data_all = df.drop('평균임금', axis=1)
y_data_all = df['평균임금']

In [39]:
pred100 = best1.predict(x_data_all)
pred100

array([515.2625, 515.2625, 515.2625, ..., 124.    , 173.375 , 338.1125])

In [42]:
x_data_all['예측평균임금'] = pred100
x_data_all['예측평균임금'] = x_data_all['예측평균임금'].round(decimals=2)

In [43]:
x_data_all

       성별  출생년도  혼인상태  종교유무      직종  지역  예측평균임금
0       2  1936     2     2  9999.0   1  515.26
1       2  1945     2     2  9999.0   1  515.26
2       1  1948     2     2  9999.0   1  515.26
3       1  1942     3     1   762.0   1  222.49
4       2  1923     2     1  9999.0   1  515.26
...    ..   ...   ...   ...     ...  ..     ...
15417   2  1967     1     1   952.0   5  133.25
15418   2  1992     5     1  9999.0   5  338.11
15419   1  1995     5     1   521.0   5  124.00
15420   2  1998     5     1   432.0   5  173.38
15421   1  2001     0     1  9999.0   5  338.11

[15422 rows x 7 columns]